<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inglesoft.grandfather">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TtsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".SpeakTimeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.inglesoft.grandfather.TtsService.ACTION_SPEAK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".OngoingActivity"
            android:label="@string/title_activity_ongoing"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inglesoft.grandfather.MainActivity" />
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"></activity>
    </application>

</manifest>
